#busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pagina {
    margin: 10px 10px 10px 10px;
}

#espacio {
    height: 100px;
}

#texto {
    display: inline-block;
    vertical-align: top;
}